#===========================================================
#               ENV=QA
#===========================================================

#Application URL
BASE_URL=https://www.URL.com/client/#/x/x

#Feature Flag
ENABLE_NEW_DASHBOARD=true

#Valid Credentials
VALID_EMAIL=
VALID_PWD=